In [6]:
CLIN_PATH = './data/clinical.project-TCGA-BRCA.2016-09-30T12_32_20.666404.json' #Patient data
DIST_PATH = './data/dd5_5_for_TCGA.txt' # Distance metric
GENOME_PATH = './data/BRCA.rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes_normalized__data.data.txt' #Genome data

In [2]:
import pandas as pd
import numpy as np
import json

In [3]:
# Clinical data of patients
big_df = pd.read_json(CLIN_PATH)

In [4]:
# Making final clinical dataframe by combining dictionaries
df1 = big_df['demographic'].apply(pd.Series)
df2_test = pd.DataFrame(big_df['diagnoses'].apply(pd.Series))
df2 = df2_test[0].apply(pd.Series)
df3_test = pd.DataFrame(big_df['exposures'].apply(pd.Series))
df3 = df3_test[0].apply(pd.Series)

/home/kirtan/anaconda3/lib/python3.5/site-packages/pandas/core/indexes/api.py:43: RuntimeWarning: unorderable types: int() > str(), sort order is undefined for incomparable objects
  union = _union_indexes(indexes)

In [6]:
df_clin = pd.concat((big_df['case_id'],df1,df2,df3),axis=1)

In [15]:
# Drop nulls rows and columns
df_clin.dropna(how='all', inplace = True)
df_clin.dropna(how='all', inplace = True, axis=1)

In [44]:
df.count()

case_id                        1098
demographic_id                 1097
ethnicity                      1097
gender                         1097
race                           1097
submitter_id                   1097
updated_datetime               1097
year_of_birth                  1094
year_of_death                   104
age_at_diagnosis               1081
classification_of_tumor        1097
days_to_birth                  1081
days_to_death                   151
days_to_last_follow_up          992
diagnosis_id                   1097
last_known_disease_status      1097
morphology                     1097
primary_diagnosis              1097
prior_malignancy               1097
progression_or_recurrence      1097
site_of_resection_or_biopsy    1097
submitter_id                   1097
tissue_or_organ_of_origin      1097
tumor_grade                    1097
tumor_stage                    1097
updated_datetime               1097
vital_status                   1097
exposure_id                    1097
submitter_id                   1097
updated_datetime               1097
dtype: int64

In [4]:
#Creating DataFrame from the distance-correlation matrix data
df_distances=pd.read_csv(DIST_PATH,sep="\t")

In [5]:
df_distances.head()

,TCGA.3C.AAAU.0.Dis,TCGA.3C.AALI.0.Dis,TCGA.3C.AALJ.0.Dis,TCGA.3C.AALK.0.Dis,TCGA.4H.AAAK.0.Dis,TCGA.5L.AAT0.0.Dis,TCGA.5L.AAT1.0.Dis,TCGA.5T.A9QA.0.Dis,TCGA.A1.A0SB.0.Dis,TCGA.A1.A0SD.0.Dis,...,TCGA.UL.AAZ6.0.Dis,TCGA.UU.A93S.0.Dis,TCGA.V7.A7HQ.0.Dis,TCGA.W8.A86G.0.Dis,TCGA.WT.AB41.0.Dis,TCGA.WT.AB44.0.Dis,TCGA.XX.A899.0.Dis,TCGA.XX.A89A.0.Dis,TCGA.Z7.A8R5.0.Dis,TCGA.Z7.A8R6.0.Dis
TCGA.3C.AAAU.0.Dis,0.000000,0.120880,0.105801,0.109540,0.118014,0.116020,0.138326,0.139012,0.164870,0.109789,...,0.130849,0.177643,0.202318,0.118387,0.204810,0.172970,0.131472,0.147361,0.160945,0.102312
TCGA.3C.AALI.0.Dis,0.120880,0.000000,0.086734,0.086734,0.105240,0.102997,0.095894,0.142688,0.183251,0.114400,...,0.117577,0.143124,0.172721,0.125615,0.158141,0.134712,0.116518,0.119447,0.129105,0.101502
TCGA.3C.AALJ.0.Dis,0.105801,0.086734,0.000000,0.072653,0.091719,0.082123,0.096455,0.141006,0.181756,0.102686,...,0.108979,0.147735,0.151162,0.113216,0.138139,0.120631,0.100941,0.103558,0.112343,0.083557
TCGA.3C.AALK.0.Dis,0.109540,0.086734,0.072653,0.000000,0.040750,0.040376,0.062932,0.144121,0.129292,0.053960,...,0.117827,0.158452,0.146738,0.062870,0.165742,0.102312,0.060814,0.073400,0.080130,0.070721
TCGA.4H.AAAK.0.Dis,0.118014,0.105240,0.091719,0.040750,0.000000,0.037074,0.065612,0.152471,0.113901,0.054209,...,0.143560,0.180884,0.172347,0.065300,0.187800,0.112343,0.059381,0.069163,0.097015,0.078198

In [11]:
#Creating DataFrame from the Genome data
#Note please change the first two words of the text file: "Hybridization REF" to "Hybridization_REF"
with open(GENOME_PATH) as f:
    columns = [row.split()[0] for row in f]
with open(GENOME_PATH) as f:
    row = [row.split()[1:] for row in f]

dict_genome={}
for column_n in range(len(columns)):
    dict_genome[columns[column_n]]=row[column_n]

df_genome=pd.DataFrame(dict_genome)

In [12]:
df_genome.head()

,?|100130426,?|100133144,?|100134869,?|10357,?|10431,?|136542,?|155060,?|26823,?|280660,?|317712,...,ZXDB|158586,ZXDC|79364,ZYG11A|440590,ZYG11B|79699,ZYX|7791,ZZEF1|23140,ZZZ3|26009,gene_id,psiTPTE22|387590,tAKR|389932
0,0.0000,16.3644,12.9316,52.1503,408.0760,0.0000,1187.0050,0.0000,0.0000,0.0000,...,1007.7824,1658.4983,258.4941,1208.3738,3507.2482,1894.9342,1180.4565,normalized_count,1.7233,0.0000
1,0.0000,9.2659,17.3790,69.7553,563.8934,0.0000,516.0413,1.0875,0.5438,0.0000,...,448.6134,1343.1213,198.4774,603.5889,5504.6221,1318.6514,406.7428,normalized_count,926.5905,0.0000
2,0.9066,11.6228,9.2294,154.2974,1360.8341,0.0000,592.0218,0.0000,0.0000,0.0000,...,533.9982,768.8123,331.8223,532.1850,5458.7489,942.8830,509.5195,normalized_count,35.3581,0.0000
3,0.0000,12.0894,11.0799,143.8643,865.5358,0.0000,552.7513,0.4137,0.0000,0.0000,...,437.7327,863.8808,175.4241,607.3645,5691.3529,781.1336,700.8688,normalized_count,66.6115,0.0000
4,0.0000,6.8468,14.4298,84.2128,766.3830,0.0000,260.8511,0.4255,0.0000,0.0000,...,424.2553,1049.7872,14.0426,775.7447,4041.7021,831.9149,881.7021,normalized_count,187.2340,0.0000